@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <div class="flex-grow-1">
       
        <a class="btn btn-primary" asp-area="" asp-controller="IMDB" asp-action="MovieSearch">Movie Search</a>
        <a class="btn btn-primary" asp-area="" asp-controller="IMDB" asp-action="MultiMovieSearch">Movie Night</a>
       
   </div>
</div>
